version: '3.1'
services:
  db:
    image: mysql:8.0
    restart: always
    volumes:
       - mysql:/var/lib/mysql
    expose:
      - "3306"   
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ruby_be_genai_plgrnd_development
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:3306"]
        interval: 30s
        timeout: 10s
        retries: 5  
  backend:
    build: ./
    restart: always
    volumes:
      - .:/rails
    depends_on:
      - db
    expose:
      - "3002"  
    ports: 
      - 3002:3002
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USERNAME: root
      DB_PASSWORD: ""
    
  react_frontend:
    build: ../sports_hub_react_skeleton
    depends_on:
      - backend
    ports:
      - 3000:3000
    restart: always
  
  api_docs_genai_plgrnd:
    build: ../api_docs_genai_playground
    ports:
      - 5173:5173
    restart: always

volumes:
  mysql:
